<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>288930794987-vqsut5e0i48qct47sou96s0k93rag466.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288930794987-vqsut5e0i48qct47sou96s0k93rag466</string>
	<key>API_KEY</key>
	<string>AIzaSyA9FkPyNoQlHypSHh1KjL65Q6tQcEDg8VE</string>
	<key>GCM_SENDER_ID</key>
	<string>288930794987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niliosdeveloper.password-manager</string>
	<key>PROJECT_ID</key>
	<string>password-manager-f1614</string>
	<key>STORAGE_BUCKET</key>
	<string>password-manager-f1614.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:288930794987:ios:debfd66bc620c3e6</string>
	<key>DATABASE_URL</key>
	<string>https://password-manager-f1614.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-9071153832703835~5612056277</string>
</dict>
</plist>
